body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    width: 100%;
}

*{
    margin :0;
    padding :0;
    font-family: 'Poppins', sans-serif;
    }

.navbar {
    display: flex;
    height:5rem;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

button, .button {
    background-color: #ECE7B4;
    border: none;
    padding-inline: 5px;
    
}

.btn-primer{
    background-color: #9EB384 !important;
    border: none;
}

input[type=search]
{
  width:80%;
  background-color: #FAF1E4;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

nav a {
    color: #000000;
    text-decoration: none;
    padding: 8px 16px;
}

nav a:hover {
    background-color: #f7f3f3;
}

.jumbotron{
    background-color: #9EB384;
    overflow: hidden;
    padding: 35px;
    width: 100%;
}

.img-icon{
    width: 500px;
    max-width:100%;
    height: auto;
    float:right;

}

.about-us{
    background-color: #9eb3849a;
    border-top-right-radius:4rem;
    border-top-left-radius:4rem;
    width: 100%;
}

.about-us .container{
    width:100%;
    padding: 30px;
}

.image-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.button-container {
    text-align: center;
    margin-top: 10px;
    background-color: #ECE7B4;
    border-radius: 10px;
    width: 200px;
    padding-inline: 5px;
}

.profile-img {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.card-body {
    align-items: center;
    }

.ini-kotak{
    gap:7px;
    width: 100%;
}

.ini-kotak .kotak{
    background-color:#ECE7B4 ;
    padding-inline:5px;
    margin-bottom: 0;

}

.detail-img{
    width:100%;   
}

#detail1{
width: 100%;
}

.footer {
    background-color: #9EB384;
    width: 100%;
    background-size: cover;
    max-height: 90vh;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.footer ul {
    list-style-type: none;
    
}

.footer ul li a {
    text-decoration: none;
    color: white;
}

.hak-cipta {
    background-color: #363636;
}

.hak-cipta p{
    margin-block: auto;
}

.popup{
    background-color: #EFEFEF;
    width: 400px;
    height: 463px;
    border-radius: 15px;
    padding:20px;
    padding-top:30px;
    position:absolute;
    margin-left:70%;
    position: fixed;
}

